.body{
    color:aquamarine;
   font-family : helvetica;
   font-size : 11pt;
    font-style : normal;}
   .topnav{
    background-color:darkcyan;
   display:flex;
   justify-content:center;
   font-family : helvetica;}
   .topnav a{
    color:chocolate;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
font-size: 14px;
font-family : helvetica;
border-right: 1px solid #e4e4e4;}
.topnav a:hover{
 background-color:darkgreen;
 color:coral;}
.entries{
 background-color: #f9f9f9;
color: #454545;
font-family: helvetica;
font-size: 12px;
width: 750px;
margin: 20px auto;
 padding: 20px;
line-height: 20px;}
.h1{
 font-family: helvetica;
font-size: 17px;
font-weight: bold;
text-align: center;

body {
    background-image: url(images/background.png);
    background-size: cover;
  }
}